{
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "vue-indent-script-and-style": true
}
